# build files
Chip8Ghidra/dist
Chip8Ghidra/build

# compiled SLEIGH file
Chip8Ghidra/data/languages/*.sla

# Compiled class file
Chip8Ghidra/*.class

# Log file
Chip8Ghidra/*.log

# BlueJ files
Chip8Ghidra/*.ctxt

# Mobile Tools for Java (J2ME)
Chip8Ghidra/.mtj.tmp/

# Package Files #
Chip8Ghidra/*.jar
Chip8Ghidra/*.war
Chip8Ghidra/*.nar
Chip8Ghidra/*.ear
Chip8Ghidra/*.zip
Chip8Ghidra/*.tar.gz
Chip8Ghidra/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
Chip8Ghidra/hs_err_pid*

# IDE/ant/gradle
Chip8Ghidra/.metadata/
Chip8Ghidra/.settings/
Chip8Ghidra/.ant*
Chip8Ghidra/.gradle
Chip8Ghidra/.project
Chip8Ghidra/.classpath